@font-face {
    font-family: raleway;
    src: url("../fonts/Raleway/Raleway-Regular.ttf");
}

@font-face {
    font-family: raleway;
    font-weight: bold;
    src: url("../fonts/Raleway/Raleway-Bold.ttf");
}

@font-face {
    font-family: raleway;
    font-style: italic;
    src: url("../fonts/Raleway/Raleway-Italic.ttf");
}