html {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}

body {
    margin: 0;
}


/* Header-related code */

header {
    /* Screen width minus the padding*/
    width: calc(100% - 1em);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-secondary);
    color: var(--text-color);
    padding: .5em;
}

#nav-placeholder {
    flex-grow: 1;
}

#navigation {
    display: flex;
    justify-content: center;
    position: absolute;
}

.navigation-item {
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
    color: var(--text-color);
}

#site-title {
    margin: 0;
    margin-left: .5em;
    font-size: 1em;
    min-width: fit-content;
}

#site-icon {
    width: 4em;
    height: 4em;
}

#theme-switcher {
    width: 4em;
    height: 4em;
}


/* Page-related code */

main {
    padding: 1em;
    color: var(--text-color);
}


/* Footer-related code */

footer {
    width: 100%;
    display: flex;
    height: 10em;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background-color-secondary);
    position: relative;
    bottom: 0;
}

footer>p {
    margin-left: auto;
    margin-right: auto;
    color: var(--text-color);
}

#source-code {
    color: var(--text-color-accent);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}