/* Colors and fonts for the document*/

:root {
    --background-color: #3B3C3F;
    --background-color-secondary: #202223;
    --text-color: #FFFFFF;
    --text-color-accent: #68edff;
}

html {
    font-family: monospace;
    font-size: 130%;
}